alembic==1.6.5
amqp==5.0.6
bcrypt==3.2.0
billiard==3.6.4.0
blinker==1.4
celery==5.1.2
certifi==2021.5.30
cffi==1.15.0
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cycler==0.11.0
dominate==2.6.0
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flasker==0.1.45
flower==1.0.0
fonttools==4.28.5
greenlet==1.1.1
gunicorn==20.1.0
humanize==3.12.0
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.2
kombu==5.1.0
Mako==1.1.4
MarkupSafe==2.0.1
matplotlib==3.5.1
numpy==1.21.2
openpyxl==3.0.7
packaging==21.3
pandas==1.3.2
Pillow==9.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.21
pycparser==2.20
pyparsing==3.0.7
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.22
tornado==6.1
vine==5.0.0
visitor==0.1.3
wcwidth==0.2.5
Werkzeug==2.0.1
wincertstore==0.2
WTForms==2.3.3
