{% extends 'base.html' %}
{% block content %}

<head>
  <meta charset="utf-8">
　　 <title>グラフ</title> 
</head>
  <body>

    <div style="position:absolute; top:200px; left:10px; width:1000px; height:1000px;">
    <canvas id="myBubbleChart"></canvas>
    <!-- CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

    <script>
    var ctx = document.getElementById("myBubbleChart");
    var myBubbleChart = new Chart(ctx, {
        type: 'bubble',
        data: {

            datasets: [
                {
                    label:"{{selected_wine[0]}}",
                    backgroundColor: "rgba(219,39,91,0.5)",
                    data: [
                        {% for item in xxList %}
                        {x:{{item}},y:{{yyList[loop.index0]}},r:{{rrList[loop.index0]}} },
                        {% endfor %}
                    ]
                   
                },
                {
                    label:"{{selected_wine[1]}}",
                    backgroundColor: "rgba(0,39,91,0.5)",
                    data:[
                        {x: 3,y: 5,r: 5},
                        {x: 1,y: 2,r: 10}
                    ]
                    /*data: [
                        {% for item in xxList %}
                        {x:{{item}},y:{{yyList[loop.index0]}},r:{{rrList[loop.index0]}} },
                        {% endfor %}
                    ]*/
                }
            ]
        },
        options: {
            title: {
                display: true,
                fontSize: 14,
                fontStyle: 'normal', // 太字にしない
                padding: 20,
                text: '試飲投票結果'
            },
            scales: {
                xAxes: [{
                    scaleLabel:{
                        display: true,
                        fontSize: 24,   
                        labelString: "果実味----辛口 "
                    },
                    ticks: {
                        suggestedMax: 6,
                        suggestedMin: 0,
                        stepSize: 1,
                        callback: function(value, index, values){
                            return  value +  '点'
                        }
                    }
                }],
                yAxes: [{
                    scaleLabel:{
                        display: true,
                        fontSize: 24,   
                        labelString: "酸味"
                    },
                    ticks: {
                        suggestedMax: 6,
                        suggestedMin: 0,
                        stepSize: 1,
                        callback: function(value, index, values){
                            return  value 
                        }
                    }
                }]
            }
        }
    })
    </script>

    ■選択されているワイン <font color="blue"> {{selected_wine[0]}} </font> の評価 です<br>

    {% for test in comment_data %}
    
 
    {% set aaid= test.members_id - 1 %}
    -----<strong>{{MemberList_DB[aaid].name}} さん</strong>の評価です----- <br>
    コメントは： {{test.maincomment}}<br>
    総合点数は： {{test.score3_total}}<br>

    {% endfor %}

    <img src="{{ url_for('scatter_png') }}" alt="Image">

    </div>

  

 
     
  


  </body>



  {% endblock %}