{% extends 'base.html' %}
{% block content %}


<head>
  <meta charset="utf-8">
　<title>グラフ</title> 
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>散布図</h1>

  data: [
          {% for item in xxList %}
            {x:{{item}},y:{{yyList[loop.index0]}} },
          {% endfor %}
          ],

  <div style="position:absolute; top:200px; left:10px; width:1000px; height:1000px;">

  <canvas id="myScatterChart" style="position: relative; height:40; width:60" ></canvas>
  <!-- CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
  // グラフ作成
  var ctx = document.getElementById("myScatterChart");

  var myScatterChart = new Chart(ctx, {
    type: 'scatter', 
    data: { 
      datasets: [
        {
          label: 'リースリング：ヴィントナーズ・リザーヴ・リースリング',
          data: [{x:90, y:82},{x:39, y:45},{x:63, y:65},{x:83, y:75},{x:83, y:95}],
          backgroundColor: 'RGBA(225,95,150, 1)',
          // マーカー 枠線の色
          borderColor: 'rgba(0, 159, 255, 0.5)',
          // マーカー 大きさ
          pointRadius: 10,
        }, 
        {
          label: 'シャルドネ：ブルゴーニュ・シャルドネ',
          /* data: [{x:97, y:92},{x:63, y:70},{x:48, y:52},{x:83, y:79},{x:66, y:74}], */
          data: [
          {% for item in xxList %}
            {x:{{item}},y:{{yyList[loop.index0]}} },
          {% endfor %}
          ],
          backgroundColor: 'RGBA(115,255,25, 1)',
          // マーカー 枠線の色
          borderColor: 'rgba(0, 159, 255, 0.5)',
          // マーカー 大きさ
          pointRadius: 10,
        }]
    },
    options:{
      // 自動サイズ変更をしない
      responsive: true,
      // タイトル
      title: {
        display: true,
        fontSize: 14,
        fontStyle: 'normal', // 太字にしない
        padding: 20,
        text: '試飲投票結果'
      },
      scales: {
        xAxes: [{        
          scaleLabel: {             
            display: true,  
            fontSize: 14,       
            labelString: '果実味----辛口 ' 
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 100,
            stepSize: 10,
            callback: function(value, index, values){
              return  value +  '点'
            }
          }
        }],
        yAxes: [{        
          scaleLabel: {             
            display: true, 
            fontSize: 14,         
            labelString: '酸味' 
          },
          ticks: {
            suggestedMax: 100,
            suggestedMin: 0,
            stepSize: 10,
            callback: function(value, index, values){
              return  value +  '点'
            }
          }
        }]
      }
    }
  });
</script>


</div> 

<div id="element1">
  <img src="{{ url_for('scatter_png') }}" alt="Image">
</div>


</body>

{% endblock %}